<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col> Texto1 </ion-col>
      <ion-col> Texto1 </ion-col>
    </ion-row>
    <ion-row>
      <ion-col> Texto3 </ion-col>
      <ion-col> Texto4 </ion-col>
    </ion-row>
  </ion-grid>

  <div class="flex j-c-c a-i-c h-100">
    <button ion-button [routerLink]="['/customers']" class="btn">
      Customer
    </button>
  </div>
</ion-content>
