<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>customer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">customer</ion-title>
    </ion-toolbar>
  </ion-header>

  <button class="mt-1 none-style" ion-button (click)="goBack()">
    <ion-title>
      <ion-label
        ><ion-icon name="arrow-undo-sharp" size="small"></ion-icon
        >Back</ion-label
      >
    </ion-title>
  </button>

  <div class="flex mt-3 a-i-c j-c-c flex-direction-column">
    <ion-avatar>
      <img src="{{currentCustomer.avatar.src}}" alt="{{currentCustomer.alt}}" />
    </ion-avatar>

    <ion-title size="large" class="mt-1"
      >{{currentCustomer.name + ' ' + currentCustomer.lastName}}</ion-title
    >
  </div>
</ion-content>
